<a href="https://colab.research.google.com/github/gianmarcomejia96/UTEC_PROGRA/blob/main/02_estructuras_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://www.ctic.uni.edu.pe/wp-content/uploads/2022/04/588px-x-348px-web-1.png" alt="HTML5 Icon" width="900" height="350" >

<h1 align=center><font size = 5>ESTRUCTURAS DE DATOS - PARTE 1
</font></h1>

---

## Tabla de Contenidos

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Listas</a>  
2. <a href="#item31">Tuplas</a>  
3. <a href="#item31">Slicing</a>  
4. <a href="#item31">List comprehension</a>  
</font>
</div>

---

## <b>Objetivo:</b>

Este laboratorio está diseñado para cubrir los conceptos de listas, tuplas, slicing, y listas por comprensión, con ejercicios detallados para practicar la manipulación de estos tipos de datos en Python.

---

## <b>1. Trabajando con Listas numéricas</b>

Las listas son una secuencia de elementos que pueden ser modificados después de su creación. Vamos a realizar varias operaciones con listas numéricas, utilizando también la función range() para generar secuencias de números.

### Ejemplo 1.1: Creación de listas

In [ ]:
my_list = [1, 2, 3, 5 , 10,  'hola', 'a', [1, 2, '3']]

In [ ]:
print(my_list)

[1, 2, 3, 5, 10, 'hola', 'a', [1, 2, '3']]

In [ ]:
students = ['Angelo', 'Diego', 'Edgar', 'Edwin', 'Enrique']
students

['Angelo', 'Diego', 'Edgar', 'Edwin', 'Enrique']

In [ ]:
#    -5      -4        -3        -2       -1
#    0.       1.        2.      3.        4
#['Angelo', 'Diego', 'Edgar', 'Edwin', 'Enrique']

In [ ]:
students[2]

'Edgar'

In [ ]:
students[3]

'Edwin'

In [ ]:
students[-4]

'Diego'

In [ ]:
letras = ["a", "b", "c", "d", "e"]

In [ ]:
letras[-2:]

['d', 'e']

In [ ]:
#imprimir las letras del medio usando slicing

letras[1:4]

['b', 'c', 'd']

In [ ]:
datos = [100, 200, 300, 400, 500, 600, 700, 800, 900]

In [ ]:
import math

n = len(datos)
corte = math.floor(n/2)

if n % 2 == 0:
  print(datos[corte])
  print(datos[corte+1])
else:
  print(datos[corte])
  print(datos[corte+1])
  print(datos[corte+2])

500
600
700

In [ ]:
# Slicing
#[2 - 4>
students[2:4]

['Edgar', 'Edwin']

In [ ]:
#[-3 - -1>
students[-3:-1]

['Edgar', 'Edwin']

In [ ]:

my_list = [1, 2, 3, 4, 5, 6, [7, 8, 9], 10, 11, 12]

print(my_list[7])
print(my_list[-5])

print(my_list[0: 3])

print(my_list[-3:])
print(my_list[5:])

10
6
[1, 2, 3]
[10, 11, 12]
[6, [7, 8, 9], 10, 11, 12]

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, [7, 8, 9], 10, 11, 12]

# 1. con indice negativo [3, 4, 5]
# 2. extrae el listado [7, 8, 9]
# 3. extrae el valor 8
# 4. extrae el listado [[7, 8, 9], 10, 11, 12]

# 1. [>  inicio,  fin +1
print(my_list[2:5])
print(my_list[-8:-5])

# 2.
print(my_list[6])
print(my_list[-4])

# 3.
print(my_list[6][1])

# 4.
print(my_list[6:])

[3, 4, 5]
[3, 4, 5]
[7, 8, 9]
[7, 8, 9]
8
[[7, 8, 9], 10, 11, 12]

In [ ]:
print(my_list[:5])

[1, 2, 3, 4, 5]

In [ ]:
a = my_list[6]
a[1]

8

In [ ]:
len(my_list)

10

In [ ]:
list_a = ['R', 'Python', 'C++']
list_b = ['spark', 'julia', 'pytorch']

list_a + list_b

['R', 'Python', 'C++', 'spark', 'julia', 'pytorch']

In [ ]:
list_a.append(['spark', 'julia', 'pytorch'])
print(list_a)

['R', 'Python', 'C++', 'spark', 'julia', 'pytorch', ['spark', 'julia', 'pytorch'], ['spark', 'julia', 'pytorch']]

In [ ]:

# Escribe un programa que va a recibir el nombre de los estudiantes y los va a guardar en una lista

list_names = []
while True:
    name = input('Hola, ¿Cuál es tu nombre? (escriba exit para salir): ')
    if name == 'exit':
        break
    else:
        list_names.append(name)
        print('lista actualizada:', list_names)

KeyboardInterrupt: Interrupted by user

In [ ]:
# Escribe un programa que va a recibir el nombre de los estudiantes y los va a guardar en una list

lista = []
flag = True

while flag:
  nombre = input('dame el nombre:')
  if nombre.lower().strip() == 'salir':
    flag=  False
  else:
    lista.append(nombre)
    print(f'lista actualizada {lista}')

dame el nombre:piero
lista actulizada ['piero']
dame el nombre:marquiño
lista actulizada ['piero', 'marquiño']
dame el nombre:carlos
lista actulizada ['piero', 'marquiño', 'carlos']
dame el nombre:aslir
lista actulizada ['piero', 'marquiño', 'carlos', 'aslir']
dame el nombre:salir

Haz un programa que:

Pida 5 números al usuario

Guárdalos en una lista usando .append()

Muestra:

La suma total

El promedio

👉 Inténtalo tú.
Cuando lo termines, pasamos a .remove(), .count(), y más.

In [ ]:
numeros = []

for i in range(5):
  numero = int(input('ingresa 5 números: '))
  numeros.append(numero)

print(sum(numeros))
print(sum(numeros)/len(numeros))

ingresa 5 números: 1
ingresa 5 números: 2
ingresa 5 números: 3
ingresa 5 números: 4
ingresa 5 números: 5
15
3.0

In [ ]:
#✅ Acción: Usa la lista que ya tienes (numeros) Pide al usuario que ingrese un número a buscar

#Imprime cuántas veces aparece ese número en la lista usando .count()

#👉 Inténtalo tú.
#Avísame cuando lo tengas.

In [ ]:
numero = int(input('ingresa el número de búsqueda: '))

print(numeros.count(numero))

ingresa el número de búsqueda: 1
1

🔁 Ejercicio:

Tienes una lista de temperaturas registradas en °C:

Haz un programa que:

Pida al usuario una temperatura a eliminar

Si la temperatura existe, elimina solo la primera ocurrencia con .remove()

Luego, muestra la posición de la última ocurrencia de esa temperatura usando .index() (si queda alguna)

📌 Si ya no queda, imprime "Temperatura eliminada por completo"

In [ ]:
temp = [21, 25, 30, 30, 28, 25, 22, 19]

In [ ]:
eliminar = int(input('ingresa la temperatura que quieres eliminar: '))
contar = temp.count(eliminar)

if eliminar in temp and contar > 1:
  temp.remove(eliminar)
  if eliminar in temp:
    post = temp.index(eliminar)
    print(f' el numero {eliminar} se encuentra en la pos {post}')
else:
  print('temperatura eliminada por completo')

KeyboardInterrupt: Interrupted by user

In [ ]:
temperaturas = [21, 25, -999, 30, 28, -999, 27, 100, 26, 29, -999]

🎯 Tu programa debe:

Eliminar todas las ocurrencias de -999 (valores perdidos)

Calcular:

Temperatura máxima

Temperatura mínima

Promedio

Mostrar la lista final de temperaturas limpias en orden descendente

In [ ]:
while -999 in temperaturas:
  temperaturas.remove(-999)

print(max(temperaturas))
print(min(temperaturas))
print(sum(temperaturas)/len(temperaturas))

temperaturas.sort(reverse=True)

print(temperaturas)

100
21
35.75
[100, 30, 29, 28, 27, 26, 25, 21]

In [ ]:
colores = ["rojo", "azul", "verde", "amarillo"]
#👉 Elimina el segundo color usando .pop()
#Guarda el valor eliminado en una variable y muéstralo por pantalla

In [ ]:
color_eliminado = colores.pop(-1)

print(color_eliminado)

In [ ]:
del colores[-1]

In [ ]:
colores

['rojo', 'azul', 'verde']

Tareas:

Quita el encabezado "Edad"

Encuentra la edad mayor

Elimina esa edad usando del y index()

Muestra la lista final

In [ ]:
edades = ["Edad", 21, 34, 45, 38, 29]

In [ ]:
del edades[0]
edades
mayor = max(edades)
print(mayor)
del edades[edades.index(mayor)]

print(edades)

45
[21, 34, 38, 29]

In [ ]:
ingresos = ["Ingresos", 1200, 1500, -1, 1800, 1600, -1, 1700, -200, 100, -300]

🔁 Tu tarea:

Elimina el encabezado "Ingresos"

Recorre la lista con un for y elimina todos los valores negativos usando del o .pop()

Solo elimina si el valor es menor que 0

Muestra:

Lista final limpia

Promedio de ingresos válidos (sum / len)

In [ ]:
del ingresos[0]

for i in ingresos:
  if i < 0:
    ingresos.pop(ingresos.index(i))


print(ingresos)
print(f'el promedio de ingresos válidos es {sum(ingresos)/len(ingresos)}')

[1200, 1500, 1800, 1600, 1700, 100]
el promedio de ingresos válidos es 1316.6666666666667

In [ ]:
lista

['ENRIQUE', 'NEYMAR', 'salir']

In [ ]:
lista

[]

In [ ]:
list_names[-2]

'Geraldo'

In [ ]:
# Crear una lista de frutas
frutas = ["manzana", "banana", "naranja", "uva", "pera"]

In [ ]:

# Acceder a elementos individuales
primera_fruta = frutas[0]
ultima_fruta = frutas[-1]
print(primera_fruta, ultima_fruta)

In [ ]:
# Modificar un elemento
frutas[1] = "plátano"
print(frutas)

### Ejemplo 1.2: Métodos útiles de listas

In [ ]:
# Agregar un elemento al final
frutas.append("kiwi")
print(frutas)

In [ ]:

# Insertar un elemento en una posición específica
frutas.insert(2, "mango")
print(frutas)

In [ ]:
# Eliminar un elemento
frutas.remove("naranja")
print(frutas)

In [ ]:
# Ordenar una lista
frutas.sort()
print(frutas)

In [ ]:
# Ordenar en reversa
frutas.sort(reverse=True)
print(frutas)

### Ejemplo 1.3: Operaciones numéricas con listas

In [ ]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print("Mínimo:", min(digits))
print("Máximo:", max(digits))
print("Suma:", sum(digits))


numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Mínimo, máximo y suma
print("Mínimo:", min(numeros))
print("Máximo:", max(numeros))
print("Suma total:", sum(numeros))

# Longitud de la lista
print("Cantidad de elementos:", len(numeros))

# Promedio de los valores en la lista
promedio = sum(numeros) / len(numeros)
print("Promedio:", promedio)

In [ ]:
my_nums = [1, 2, 3, 4, ...... , 99]

In [ ]:
#[>
for x in range(1, 100):
  print(x)

## 1.2: Uso de la función range()

La función range() se utiliza para generar secuencias de números, y es especialmente útil cuando se quiere evitar la creación manual de listas largas de números consecutivos.

### Ejemplo 1.4: Creación de listas con range()

In [ ]:
# Crear una lista con los números del 1 al 10
lista_numeros = list(range(1, 11))
print("Números del 1 al 10:", lista_numeros)

Números del 1 al 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(0,20,-1))

[]

In [ ]:
#usando range, imprima los multiplos de 13 menores de 200

for i in range(0,200):
  if i % 13 == 0:
    print(i)

0
13
26
39
52
65
78
91
104
117
130
143
156
169
182
195

[]

In [ ]:
# Crear una lista con los números pares entre 2 y 20
pares = list(range(2, 21, 2))
print("Números pares del 2 al 20:", pares)

Números pares del 2 al 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# Crear una lista de números en orden inverso (del 10 al 1)
reversa = list(range(10, 0, -1))
print("Números en orden inverso:", reversa)

Números en orden inverso: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Crear una lista de múltiplos de 5 entre 0 y 50
multiplos_de_5 = list(range(0, 51, 5))
print("Múltiplos de 5 entre 0 y 50:", multiplos_de_5)

Múltiplos de 5 entre 0 y 50: [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

### Ejercicio 1.1: Operaciones numéricas con listas

- Crea una lista de números entre 1 y 100 usando la función range() (verás cómo usarla en el próximo ejemplo).

- Calcula la media de los valores de la lista usando las funciones sum() y len().

- Usa sorted() para crear una lista ordenada inversamente de los primeros 50 números.

- Crea una lista que contenga solo los números mayores a 50, multiplicados por 2.

## <b>2. Listas por Comprensión</b>

Las listas por comprensión son una forma concisa de crear listas nuevas a partir de una expresión. Se pueden utilizar para realizar operaciones sobre secuencias de forma más rápida y sin necesidad de ciclos explícitos.

In [ ]:
for x in [1, 2, 3]:
  print(x)

1
2
3

In [ ]:
[x for x in [1, 2, 3]]

[1, 2, 3]

In [ ]:
[x for x in range(1, 11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
from math import log

[log(x) for x in range(1, 21)]

[0.0,
 0.6931471805599453,
 1.0986122886681098,
 1.3862943611198906,
 1.6094379124341003,
 1.791759469228055,
 1.9459101490553132,
 2.0794415416798357,
 2.1972245773362196,
 2.302585092994046,
 2.3978952727983707,
 2.4849066497880004,
 2.5649493574615367,
 2.6390573296152584,
 2.70805020110221,
 2.772588722239781,
 2.833213344056216,
 2.8903717578961645,
 2.9444389791664403,
 2.995732273553991]

In [ ]:
[x*2 for x in range(100, 501) if x%17 == 0]

[204,
 238,
 272,
 306,
 340,
 374,
 408,
 442,
 476,
 510,
 544,
 578,
 612,
 646,
 680,
 714,
 748,
 782,
 816,
 850,
 884,
 918,
 952,
 986]

In [ ]:
#4. Crear una lista con los caracteres de la palabra "python"

#['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
[x for x in 'python']

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
#✅ 5. De una lista de palabras, obtener su longitud

palabras = ["dato", "modelo", "limpieza"]

[len(x) for x in palabras]

[4, 6, 8]

In [ ]:
#✅ 6. De una lista de números, guardar solo los positivos

#Dada: [3, -1, 5, -7, 0, 8]
#👉 Resultado: [3, 5, 8]

In [ ]:
lista = [3, -1, 5, -7, 0, 8]

[x for x in lista if x > 0:]

[3, 5, 8]

In [ ]:
# Crear una lista de tuplas (número, cuadrado) del 1 al 5

# 👉 Resultado: [(1,1), (2,4), (3,9), (4,16), (5,25)]

In [ ]:
[(x,x**2) for x in range(1,6)]

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
#✅ 9. Invertir cada string de una lista

lista = ["python", "data"]
#👉 Resultado: ["nohtyp", "atad"]

[[x[::-1]]for x in lista]

[['nohtyp'], ['atad']]

In [ ]:
#✅ 10. Aplanar una lista de listas

lista = [[1, 2], [3, 4], [5]]
#👉 Resultado: [1, 2, 3, 4, 5]

In [ ]:
[x for sublista in lista for x in sublista]

[1, 2, 3, 4, 5]

In [ ]:
features_pas = ['ahorros_prom12', 'abonos_prom12', 'cargos_prom12', 'trxn_prom12']
features_rcc = ['deuda_prom12', 'entidades_prom12', 'atraso_prom12']

my_list1 = ['pas_'  + x.upper() for x in features_pas]
my_list2 =  ['rcc_' + x.upper() for x in features_pas]

my_list1 + my_list2

['pas_AHORROS_PROM12',
 'pas_ABONOS_PROM12',
 'pas_CARGOS_PROM12',
 'pas_TRXN_PROM12',
 'rcc_AHORROS_PROM12',
 'rcc_ABONOS_PROM12',
 'rcc_CARGOS_PROM12',
 'rcc_TRXN_PROM12']

🟢 Nivel 1 – Ejercicio básico:

Crea una lista con los primeros 10 números pares (empezando desde 2) usando una lista por comprensión.

🔹 No te doy la solución completa, intenta hacerlo tú. Si no sale, te ayudo.
🔹 Cuando termines, mándame tu código aquí y lo reviso.

In [ ]:
[x for x in range(2,10,2)]

[2, 4, 6, 8]

✅ Ejercicio 2: Normalizar datos

Tienes esta lista de valores:

valores = [100, 250, 500, 750, 1000]


🎯 Crea una nueva lista donde cada valor esté entre 0 y 1,
dividiendo cada número por 1000.

In [ ]:
lista = [100,250,500,750,1000]

[x/1000 for x in lista]

[0.1, 0.25, 0.5, 0.75, 1.0]

✅ Ejercicio 3: Redondear temperaturas

Tienes esta lista:

temperaturas = [22.345, 19.876, 30.567, 25.432]


🎯 Crea una nueva lista redondeando cada temperatura a 1 decimal
(con lista por comprensión).

In [ ]:
temperaturas = [22.345, 19.876, 30.567, 25.432]

[round(x,1) for x in temperaturas]

[22.3, 19.9, 30.6, 25.4]

✅ Ejercicio 4: Extraer dominios de emails

Tienes esta lista:

emails = ["ana@gmail.com", "luis@yahoo.com", "carla@outlook.com"]


🎯 Crea una nueva lista que contenga solo los dominios,
por ejemplo: ["gmail.com", "yahoo.com", "outlook.com"]

Pista: usa .split('@') dentro de la lista por comprensión.

In [ ]:
emails = ["ana@gmail.com", "luis@yahoo.com", "carla@outlook.com"]

[x.split('@')[1] for x in emails]

['gmail.com', 'yahoo.com', 'outlook.com']

✅ Ejercicio 5: Contar caracteres por palabra

Tienes esta lista:

palabras = ["modelo", "entrenamiento", "dato", "predicción"]


🎯 Crea una lista con la cantidad de letras que tiene cada palabra.

Resultado esperado: [6, 13, 4, 10]

In [ ]:
palabras = ["modelo", "entrenamiento", "dato", "predicción"]

[len(x) for x in palabras]

[6, 13, 4, 10]

Tienes esta lista:

frases = ["modelo entrenado", "datos limpios", "predicción final"]


🎯 Transforma todas las frases a mayúsculas
y luego únelas en una sola cadena de texto separadas por espacio.

Ejemplo resultado: "MODELO ENTRENADO DATOS LIMPIOS PREDICCIÓN FINAL"

👉 Pista:
Primero transforma con lista por comprensión y .upper()
Luego une todo con ' '.join(...)

👉 Tu acción:
Hazlo en 2 pasos o 1 línea, como prefieras.
Muestra tu código.

In [ ]:
frases = ["modelo entrenado", "datos limpios", "predicción final"]

' '.join([x.upper() for x in frases])

'MODELO ENTRENADO DATOS LIMPIOS PREDICCIÓN FINAL'

✅ Ejercicio 7: Eliminar valores nulos

Tienes esta lista de datos con valores faltantes:

datos = [10, None, 25, None, 40, 50, None]


🎯 Crea una nueva lista sin los valores None
Usa lista por comprensión con una condición.

In [ ]:
datos = [10, None, 25, None, 40, 50, None]

datos_limpios = [x for x in datos if x is not None]

datos_limpios

[10, 25, 40, 50]

✅ Ejercicio 9: Extraer el año de fechas

Tienes esta lista con fechas:

fechas = ["2023-07-10", "2024-01-01", "2022-12-31"]


🎯 Crea una lista con solo el año de cada fecha.
Ejemplo de resultado: ["2023", "2024", "2022"]

🧠 Puedes usar split('-') para separar la fecha en partes.

In [1]:
fechas = ["2023-07-10", "2024-01-01", "2022-12-31"]

año = [ x.split("-")[0] for x in fechas]

año

['2023', '2024', '2022']

✅ Ejercicio real: Filtrar fechas futuras

Tienes esta lista de strings con fechas:

fechas = ["2024-01-01", "2025-09-01", "2023-12-31", "2025-08-28"]


🎯 Crea una lista con solo las fechas que son mayores a hoy
(es decir, fechas futuras).

💡 Pista:

Convierte cada string a objeto date con datetime.strptime(...).date()

Compara con date.today() (hay que importar date también)

👉 Tu acción:

Importa lo necesario de datetime

Convierte las fechas

Filtra solo las que son posteriores a hoy

Hazlo con lista por comprensión y muéstrame tu código 💪

In [ ]:
fechas = ["2024-01-01", "2025-09-03", "2023-12-31", "2025-08-28"]

In [ ]:
from datetime import datetime
from datetime import date

In [ ]:
[datetime.strptime(x,"%Y-%m-%d").date() for x in fechas if datetime.strptime(x, "%Y-%m-%d").date() > date.today()]

[datetime.date(2025, 9, 3)]

✅ Próximo reto (más avanzado): limpiar y convertir columnas

Supón que tienes esta lista de datos como strings de una "columna":

precios = ["$100.50", "$250.00", "sin dato", "$320.75", None]


🎯 Crea una lista donde:

Si el valor es un string como "$100.50", quita el símbolo $ y conviértelo a float

Si es "sin dato" o None, conviértelo en None

👉 Pista:

Usa .replace("$", "")

Usa try...except o una función auxiliar

👉 Tu acción:

Escribe una función llamada limpiar_precio(x) que haga eso

Úsala en una lista por comprensión

Muestra tu código aquí.

In [ ]:
precios = ["100.50","250.00", "sin dato", "$320.75", None]

numeros = [float(x.replace("$","")) for x in precios if x is not None and x != "sin dato"]

precios_ = [None for x in precios if x=="sin dato" or x is None]

precios_

precios_+numeros

precios_ = [
    float(x.replace("$", "")) if isinstance(x, str) and x != "sin dato" else None
    for x in precios
]

[None, None, 100.5, 250.0, 320.75]

In [ ]:
temps = [22.5, 18.0, 30.2, 25.0]
[str(x)+ "°" for x in temps]

['22.5°', '18.0°', '30.2°', '25.0°']

In [2]:
my_list_3 =["a","b","c"]

my_list_4 =["c","e","f"]

['3_' + x.upper() for x in my_list_3]
['4_' + x.upper() for x in my_list_4]

set(my_list_3+my_list_4)

{'a', 'b', 'c', 'e', 'f'}

✅ Ejercicio 1 (repetimos para retomar):
numeros = [10, 20, 30, 40, 50, 60, 70]


🎯 Crea una nueva lista con los primeros 3 elementos.

In [3]:
 numeros = [10, 20, 30, 40, 50, 60, 70]

 numeros[0:3]

[10, 20, 30]

In [ ]:
#🎯 Obtené los últimos 2 elementos usando slicing.

numeros[-2:]

[60, 70]

In [ ]:
#🎯 Obtené los elementos del medio, sin incluir ni los 2 primeros ni los 2 últimos. Resultado esperado: [30, 40, 50]
numeros[2:5]

[30, 40, 50]

✅ Ejercicio 4:
numeros = [10, 20, 30, 40, 50, 60, 70]


🎯 Obtené todos los elementos en posiciones pares, usando slicing y paso (step).

📌 Posiciones pares = índice 0, 2, 4, 6
Resultado esperado: [10, 30, 50, 70]

👉 Tu acción:
Usá el tercer parámetro del slicing (inicio:fin:paso) para lograrlo.
Mostrame tu línea.

In [ ]:
numeros = [10, 20, 30, 40, 50, 60, 70]

In [ ]:
numeros[0:7:2]

[10, 30, 50, 70]

In [ ]:
numeros[::-1]

[70, 60, 50, 40, 30, 20, 10]

✅ Ejercicio 6 (más desafiante):
numeros = [10, 20, 30, 40, 50, 60, 70]


🎯 Usando slicing, obtené los 3 últimos elementos, pero en orden invertido
Resultado esperado: [70, 60, 50]

👉 Tu acción:
Combiná slicing con paso negativo para sacar los últimos 3 en orden inverso.
Mostrame tu línea.

In [ ]:
numeros = [10, 20, 30, 40, 50, 60, 70]

numeros[-3::][::-1]

[70, 60, 50]

✅ Ejercicio 7 (más difícil):
numeros = [10, 20, 30, 40, 50, 60, 70, 80, 90]


🎯 Obtené una lista con todos los números en índices impares,
pero en orden inverso
Resultado esperado: [90, 70, 50, 30, 10]

👉 Tu acción:
Usá slicing con paso negativo para sacar los valores en índices impares invertidos.
Mostrame tu línea.

Índices impares: 1, 3, 5, 7 → valores: [20, 40, 60, 80]
Y querés eso en orden inverso → [80, 60, 40, 20]

In [ ]:
numeros = [10, 20, 30, 40, 50, 60, 70, 80, 90]

numeros[1::2][::-1]


numeros[::2]

[10, 30, 50, 70, 90]

✅ Ejercicio 2: enumerate() con tuplas
columnas = ["edad", "altura", "peso"]


🎯 Querés numerar las columnas como:
[(0, "edad"), (1, "altura"), (2, "peso")]

👉 Tu acción:
Usá enumerate() y convertí el resultado a lista.
Mostrame tu código.

Luego seguimos con el 3.

In [ ]:
columnas = ["edad", "altura", "peso"]

list(enumerate(columnas))

[(0, 'edad'), (1, 'altura'), (2, 'peso')]

✅ Ejercicio 3: claves compuestas con tuplas

Supongamos que estás agrupando datos por género y país:

datos = [
    ("Hombre", "Chile", 5),
    ("Mujer", "Chile", 8),
    ("Hombre", "Argentina", 7),
    ("Mujer", "Chile", 4),
]


🎯 Usá un diccionario para contar la suma de valores por (género, país)

👉 Resultado esperado (clave = tupla):

{
    ("Hombre", "Chile"): 5,
    ("Mujer", "Chile"): 12,
    ("Hombre", "Argentina"): 7
}


👉 Tu acción:

Usá un for para recorrer datos

Usá la tupla (genero, pais) como clave

Sumá los valores en un diccionario

Probalo y mostrame tu código.

In [ ]:
datos = [ ("Hombre", "Chile", 5), ("Mujer", "Chile", 8), ("Hombre", "Argentina", 7), ("Mujer", "Chile", 4), ]

conteo = {}

for genero, pais, valor in datos:
    clave = (genero, pais)
    if clave in conteo:
        conteo[clave] += valor
    else:
        conteo[clave] = valor
conteo

{('Hombre', 'Chile'): 5, ('Mujer', 'Chile'): 12, ('Hombre', 'Argentina'): 7}

✅ Ejercicio 1: zip() para combinar listas
nombres = ["Ana", "Luis", "Carlos"]
edades = [25, 30, 28]


🎯 Combiná ambas listas en una lista de tuplas:
Resultado esperado: [("Ana", 25), ("Luis", 30), ("Carlos", 28)]

In [ ]:
 nombres = ["Ana", "Luis", "Carlos"]
 edades = [25, 30, 28]

 hola = list(zip(nombres,edades))
 hola

[('Ana', 25), ('Luis', 30), ('Carlos', 28)]

### Ejemplo 2.1: Generación de listas por comprensión

In [ ]:
# Crear una lista de cuadrados de los números del 1 al 10
cuadrados = [x**2 for x in range(1, 11)]
print(cuadrados)

In [ ]:
# Crear una lista de números pares entre 1 y 20
pares = [x for x in range(1, 21) if x % 2 == 0]
print(pares)

### Ejemplo 2.2: Listas por comprensión con manipulación de cadenas

In [4]:
# Crear una lista con las primeras letras en mayúsculas de una lista de nombres

nombres = ["juan", "pedro", "ana", "maria"]
nombres_mayuscula = [nombre.capitalize() for nombre in nombres]
print(nombres_mayuscula)

['Juan', 'Pedro', 'Ana', 'Maria']

### Ejercicio 2: Creación avanzada con listas por comprensión

- Crea una lista de los números impares entre 1 y 50.
- Genera una lista con los cubos de los primeros 10 números (1 al 10).
- Dada una lista de palabras, crea una nueva lista que contenga las palabras con más de 4 letras en mayúsculas.

In [5]:
# 1. Crea una lista de los números impares entre 1 y 50.

lista_impares = [x for x in range(1,51) if x%2 != 0]
print(lista_impares)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [ ]:
# 2. Genera una lista con los cubos de los primeros 10 números (1 al 10).

[x**3 for x in range(1, 11)]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# 3. Dada una lista de palabras, crea una nueva lista que contenga las palabras con más de 4 letras en mayúsculas

word_list = []

while True:
  word = input("Ingrese una palabra (escriba exit para salir): ")
  if word == "exit":
    break
  else:
    word_list.append(word)
    print("lista actualizada", word_list)

word_mayusculaa = [word.upper() for word in word_list if len(word) > 4]
print(word_mayusculaa)

Dada una lista de palabras, crea una nueva lista que contenga las palabras con más de 4 letras en **mayúsculas**

In [26]:
palabras = []

while True:
  palabra = input('ingrese palabras: ')
  if palabra == 'exit':
    break
  else:
    palabras.append(palabra)
    print(palabra)


palabras_mayusc = [palabra.upper() for palabra in palabras if len(palabra)> 4]
print(palabras_mayusc)

ingrese palabras: CHAM
CHAM
ingrese palabras: OLGA
OLGA
ingrese palabras: HIDROCARBUROS
HIDROCARBUROS
ingrese palabras: exit
['HIDROCARBUROS']

✅ Nuevo ejercicio aplicado a ciencia de datos:

Supongamos que estás limpiando una lista de nombres de columnas que vienen mal formateadas.

🎯 Tu tarea:

Ingresar nombres de columnas uno por uno

Ignorar los que estén vacíos ("") o contengan "?"

Guardar solo los válidos en minúsculas, sin espacios

In [30]:
nombres =[]

while True:
  nombre = input('Ingresar nombres:')
  if nombre == 'exit':
    break
  else:
    nombres.append(nombre)

nom_limpios = [nombre.strip().lower().replace(" ","") for nombre in nombres if nombre.strip() != "" and "?" not in nombre]
print(nom_limpios)

Ingresar nombres:
Ingresar nombres:
Ingresar nombres:gian
Ingresar nombres:exit
['gian']

In [ ]:
    for x in 'jOhN':
    if x == x.upper():
        print(x)

O
N

In [ ]:
word = ''
len([x for x in word if x == x.upper()])

2

In [ ]:

word_list = []

while True:
  word = input("Ingrese una palabra (escriba exit para salir): ")
  if word == "exit":
    break
  else:
    word_list.append(word)
    print("lista actualizada", word_list)

word_mayusculaa = [word for word in word_list if len([x for x in word if x == x.upper()]) > 4]
print(word_mayusculaa)

Ingrese una palabra (escriba exit para salir): john
lista actualizada ['john']
Ingrese una palabra (escriba exit para salir): MIA
lista actualizada ['john', 'MIA']
Ingrese una palabra (escriba exit para salir): ANGELO
lista actualizada ['john', 'MIA', 'ANGELO']
Ingrese una palabra (escriba exit para salir): DIEGO
lista actualizada ['john', 'MIA', 'ANGELO', 'DIEGO']
Ingrese una palabra (escriba exit para salir): sebastian
lista actualizada ['john', 'MIA', 'ANGELO', 'DIEGO', 'sebastian']
Ingrese una palabra (escriba exit para salir): exit
['ANGELO', 'DIEGO']

In [ ]:

def greatings():
  """Esta función saluda a los estudiantes nuevos"""
  print('Bienvenido al curso!')

In [ ]:
greatings()

Bienvenido al curso!

In [ ]:

def greatings(name):
  """Esta función saluda a los estudiantes nuevos"""
  print(f'Bienvenido al curso {name}!')

In [ ]:
greatings('John')

Bienvenido al curso John!

In [ ]:
greatings('Edwin')

Bienvenido al curso Edwin!

In [ ]:
greatings('Edgar')

Bienvenido al curso Edgar!

In [ ]:

def sum(a, b):
  """Esta función suma dos argumentos a y b"""
  print(f'la suma es: {a + b}')

In [ ]:
sum(4, 5)

la suma es: 9

In [ ]:
sum(5, 12)

la suma es: 17

In [27]:
sum

## <b>3. Trabajando con Slicing</b>

El slicing es una técnica que te permite extraer sublistas de listas existentes, seleccionando elementos de una lista mediante índices.

### Ejemplo 3.1: Slicing de listas

In [ ]:
# Crear una lista de letras
letras = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
# Extraer una subsección de la lista
primeras_tres = letras[:3]  # Primeros 3 elementos
print(primeras_tres)

In [ ]:
desde_el_cuarto = letras[3:]  # Desde el cuarto hasta el final
print(desde_el_cuarto)

In [ ]:
ultimos_dos = letras[-2:]  # Los últimos dos elementos
print(ultimos_dos)

### Ejemplo 3.2: Slicing con pasos

In [ ]:
# Crear una lista de números del 1 al 10
numeros = list(range(1, 11))

In [ ]:

# Obtener todos los números en posiciones pares
pares = numeros[1::2]  # Inicia en el segundo elemento y salta de 2 en 2
print(pares)

In [ ]:
# Obtener cada tercer número
tercios = numeros[::3]
print(tercios)

### Ejercicio 3: Aplicaciones de slicing

Crea una lista con los números del 1 al 100. Luego, usando slicing:
- Extrae los primeros 10 números.
- Extrae los últimos 10 números.
- Extrae todos los números en posiciones impares.
- Usa slicing para dividir una lista de palabras en dos mitades.

## <b>4. Trabajando con Tuplas
</b>

Las tuplas son como listas, pero inmutables, lo que significa que no se pueden modificar después de su creación. Son útiles para almacenar datos que no deben cambiar.

### Ejemplo 4.1: Crear y acceder a tuplas

In [ ]:
# Crear una tupla
coordenadas = (10.5, 20.3)

# Acceder a los elementos de la tupla
print("X:", coordenadas[0])
print("Y:", coordenadas[1])

### Ejemplo 4.2: Intento de modificación de una tupla

In [ ]:
# Crear una tupla
dimensiones = (200, 50)

In [ ]:
# Intentar modificar la tupla (esto generará un error)
# dimensiones[0] = 250  # Descomenta esta línea para ver el error

In [ ]:
# Reasignar una nueva tupla
dimensiones = (400, 100)
print("Nuevas dimensiones:", dimensiones)

### Ejercicio 4: Trabajando con tuplas
- Crea una tupla que almacene las dimensiones de un objeto (ancho, alto).
- Intenta modificar un elemento de la tupla y observa el error que genera.
- Reescribe la tupla completa con nuevas dimensiones.

## <b>5. Desafío</b>

### Desafío 1: Análisis de ventas de una tienda de ropa

Eres el encargado de una tienda de ropa y tienes una lista de ventas diarias para diferentes productos. Cada día, vendes camisetas, pantalones y zapatos. Quieres analizar las ventas para entender mejor el rendimiento de cada producto.

<b>Objetivo:</b>

- Crea tres listas: una para camisetas, otra para pantalones y una para zapatos, con la cantidad vendida cada día durante una semana.
- Usa slicing para extraer las ventas de los últimos 3 días de cada producto.
- Usa listas por comprensión para calcular el total de ventas de cada producto y el promedio de ventas diarias.

- Clasifica los productos en "buenas ventas" o "malas ventas" según si el promedio de ventas diarias es mayor o menor a 5.

Instrucciones:
- Genera los datos de ventas usando listas manualmente o simulándolos con valores constantes.
- Calcula el total de ventas por producto usando sum() y el promedio con len().
- Usa listas por comprensión para clasificar las ventas de los productos.

---

# Gracias por completar este laboratorio!

---